################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BackEnd/MytraAppApi/MytraApp/.vs/MytraApp/DesignTimeBuild/.dtbcache.v2
.vs
